.sixth #box_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #ee3e64;
  display: block;
}

.sixth #box_2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #44accf;
  display: block;
}

.sixth #box_3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #b7d84b;
  display: block;
}

.sixth #box_4 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #ebde52;
  display: block;
}

.orange-box {
  position: absolute;
  bottom: 39%;
  left: 41%;
  width: 40px;
  height: 40px;
  background: #f95b34;
  display: block;
}
